@use "vars" as *;

.h-scrollable-table {
    overflow-x: auto;
}

.table {
    border-spacing: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    background: $color_primary0;
    border-radius: $widget_border_radius;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 2px -1px rgba(0,0,0,0.1);

    &.striped tr:nth-child(2n) {
        background: rgba($color_primary100, 0.02);
    }

    tbody tr {
        transition: all 0.2s ease;
        &:hover {
            background: rgba($color_primary100, 0.04);
        }
    }

    th {
        height: 2em;
        color: $color_primary100;
        background-color: $color_primary5;
        border-bottom: 2px solid $color_primary10;
        padding: 12px 10px;
        vertical-align: middle;
        text-align: center;
        white-space: nowrap;
        font-weight: 600;
        font-size: 1.1em;
    }

    td {
        border-bottom: 1px solid $color_primary10;
        padding: 12px 10px;
        vertical-align: middle;
        text-align: center;
    }

    // Border fixes
    tr:last-child td {
        border-bottom: none;
    }

    // Rounded corners for <th>
    tr:first-child th:first-child {
        border-top-left-radius: $table_header_rounding;
    }

    tr:first-child th:last-child {
        border-top-right-radius: $table_header_rounding;
    }

    tbody tr:last-child td:first-child {
        border-bottom-left-radius: $table_header_rounding;
    }

    tbody tr:last-child td:last-child {
        border-bottom-right-radius: $table_header_rounding;
    }
}
